@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient{
    background: linear-gradient(180deg, #252149 0%, #3D2271 100%);

}
.bg-shape{
    background-image: url('/img/stars.svg');
    background-color: #173E3F;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.active {
    right: 0 !important;
}